body,
html {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
}

@font-face {
    font-family: 'ArcherPro-Bold';
    src: url("./ArcherPro-Bold.woff2") format("woff2"), url("./ArcherPro-Bold.woff") format("woff");
}

@font-face {
    font-family: 'ArcherPro-Book';
    src: url("./ArcherPro-Book.woff2") format("woff2"), url("./ArcherPro-Book.woff") format("woff");
}

@font-face {
    font-family: 'ArcherPro-Medium';
    src: url("./ArcherPro-Medium.woff2") format("woff2"), url("./ArcherPro-Medium.woff") format("woff");
}

@font-face {
    font-family: 'ArcherPro-Semibold';
    src: url("./ArcherPro-Semibold.woff2") format("woff2"), url("./ArcherPro-Semibold.woff") format("woff");
}

.page_title {
    color: #000000;
    font-family: "ArcherPro-Bold", serif;
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.page_content {
    color: #000000;
    font-family: "ArcherPro-Book", serif;
    font-size: 1rem;
}

.outline_button {
    font-family: "ArcherPro-Book", serif;
    font-size: 1rem;
    text-align: center;
}

.outline_button>a {
    color: #ec4c2e !important;
    background: transparent;
    border: 1px solid #ec4c2e;
    border-radius: 0;
    padding: 5px 60px;
    text-decoration: none;
}

.outline_button>a:hover {
    color: #ffffff !important;
    background: #ec4c2e;
    text-decoration: none;
}

.button_wraper {
    justify-content: center;
    margin: 18px 0 0 0;
}

.page_content>a {
    color: #ec4c2e;
    text-decoration: underline;
    font-family: 'ArcherPro-Semibold';
    src: url("./ArcherPro-Semibold.woff2") format("woff2"), url("./ArcherPro-Semibold.woff") format("woff");
}


/* ----------- navigation ----------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    background-color: #ffffff;
}

nav {
    position: fixed;
    top: auto;
    left: auto;
    /* width: 100%; */
    min-height: 40px;
    z-index: 110;
}

#menu-menu-1 {
    transition: left 0.4s ease-in-out;
}

#menu-menu-1>li,
#menu-footer-menu>li {
    list-style-type: none;
    padding: 0 20px;
}

#menu-menu-1,
#menu-footer-menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

#menu-footer-menu .menu_utilits {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#menu-footer-menu .menu_utilits .icon {
    margin-left: 10px;
    color: #000000;
}

#menu-footer-menu .menu_utilits .icon i {
    font-size: 1.2rem;
    color: #000000;
}

.label>img {
    width: 110px;
    height: auto;
}

.label {
    margin: 13px 0;
    text-align: center;
}

.menu-item>a {
    font-family: "ArcherPro-Medium", serif;
    color: #000000;
}

.menu-item.current-menu-item>a {
    color: #fc502e;
    text-decoration: underline;
}

#footer_nav {
    justify-content: center;
}

.animated-icon1 {
    width: 27px;
    height: 27px;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    background-color: #ec4c2e;
}

.animated-icon1 span:nth-child(1) {
    top: 3px;
}

.animated-icon1 span:nth-child(2) {
    top: 12px;
}

.animated-icon1 span:nth-child(3) {
    top: 21px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    right: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    right: 0;
    opacity: 0;
    right: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    right: 0;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

button.navbar-toggler {
    outline: none;
}


/* .collapse:not(.show) {
    transform: translateX(-100%);
}
.collapse.collapsing #menu-menu-1 {
    display: none;
    transition: none;
    position: absolute;
} */

#menu-menu-1 {
    background-color: #ffffff;
}


/* ----------- navigation footer ----------------*/


/* ----------- home ----------------*/

.bags_row {
    margin: 20px 0;
}

.wp-block-image.size-large>img {
    width: 100%;
    height: auto;
}

.home-container {
    padding: 0;
    min-height: 80vh;
    margin-top: 160px;
    margin-bottom: 60px;
}

.wp-bootstrap-blocks-row>.no_padding {
    padding: 0;
}


/* ----------- about ----------------*/

.bobbie_portret>img {
    width: 100%;
    height: auto;
}

.about_container {
    min-height: 80vh;
    margin-top: 160px;
    margin-bottom: 60px;
}

.about_alignment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wp-block-image {
    margin-bottom: 0 !important;
}


/* ----------- cart icon ----------------*/

.navbar .cart-contents {
    background-image: url(../img/bag_i.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    width: 1.7rem;
    height: 1.7rem;
    position: absolute;
    right: 15px;
}

.navbar .cart-contents .count {
    height: 1rem;
    width: 1rem;
    font-size: 0.7rem;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    position: absolute;
    right: -25%;
    top: 5%;
}

#menu-menu-1 .cart-contents .woocommerce-Price-amount.amount {
    display: none;
}


/* ----------- contact ----------------*/

.contact_container {
    min-height: 80vh;
    margin-top: 160px;
    margin-bottom: 60px;
}


/* ----------- wooccommerce ----------------*/

.woocommerce {
    min-height: 90vh;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: #fff;
    color: #fc502e;
    border: 1px solid;
    border-radius: 0;
}

.woocommerce-cart-form {
    margin: 60px 80px;
}

.woocommerce table.shop_table {
    border: none;
}

.product-name,
.product-price,
.product-quantity,
.product-subtotal {
    font-family: "ArcherPro-Bold", serif;
    color: #000000;
    font-size: 1rem;
}

.product-name>a {
    font-family: "ArcherPro-Book", serif;
    color: #000000;
    font-size: 1rem;
}

.woocommerce-cart table.cart img {
    height: 150px;
    width: auto;
}

.woocommerce-message {
    display: none;
}

.woocommerce-cart-form__cart-item.cart_item>.product-remove,
.woocommerce-cart-form__cart-item.cart_item>.product-thumbnail,
.woocommerce-cart-form__cart-item.cart_item>.product-name,
.woocommerce-cart-form__cart-item.cart_item>.product-price,
.woocommerce-cart-form__cart-item.cart_item>.product-quantity,
.woocommerce-cart-form__cart-item.cart_item>.product-subtotal {
    border-top: none !important;
    border-bottom: 1px solid #ec4c2e;
}

.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents>thead>tr>.product-remove,
.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents>thead>tr>.product-thumbnail,
.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents>thead>tr>.product-name,
.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents>thead>tr>.product-price,
.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents>thead>tr>.product-quantity,
.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents>thead>tr>.product-subtotal {
    border-bottom: 1px solid #ec4c2e;
}

.woocommerce .product-remove>a.remove {
    color: #ec4c2e !important;
}

.cart-subtotal,
.order-total,
.woocommerce-Price-amount.amount>bdi {
    font-family: "ArcherPro-Medium", serif;
    color: #000000;
    font-size: 1rem;
    font-weight: normal;
}

.cart-subtotal>th,
.order-total>th {
    padding-left: 0 !important;
}

.coupon>.input-text {
    min-width: 180px;
}

.coupon {
    margin-top: 30px;
}

.actions>.coupon {
    float: right !important;
}

.actions>button.button {
    display: none;
}

.coupon>button.button {
    background-color: #ffffff;
    border: 1px solid #ec4c2e;
    color: #ec4c2e;
    width: auto !important;
    border-radius: 0 !important;
}

.coupon>button.button:hover {
    background-color: #ec4c2e;
    border: 1px solid #ec4c2e;
    color: #ffffff;
    border-radius: 0 !important;
}

.coupon>input#coupon_code {
    font-family: "ArcherPro-Book", serif;
    color: #000000 !important;
    font-size: 0.7rem;
    border-color: #000000;
}

.cart_totals>h2 {
    font-family: "ArcherPro-Bold", serif;
    color: #000000;
    font-size: 1.3rem;
}

.wc-proceed-to-checkout>a {
    font-family: "ArcherPro-Book", serif;
    color: #ec4c2e;
    font-size: 1rem !important;
    width: fit-content;
    padding: 5px 60px !important;
    border-radius: 0 !important;
}

.wc-proceed-to-checkout>a:hover {
    background-color: #ec4c2e !important;
    color: #ffffff !important;
    text-decoration: none;
}

.order-total>th,
.order-total>td {
    border-top: 1px solid #ec4c2e !important;
}

.woocommerce-form-coupon-toggle {
    display: none;
}

.content-area>.site-main>.product {
    min-height: 80vh;
    margin-top: 60px;
    margin-bottom: 60px;
}

.summary.entry-summary>h1.product_title.entry-title {
    font-family: "ArcherPro-Bold", serif;
    color: #000000;
    font-size: 1.3rem;
}

.woocommerce-product-details__short-description>p {
    font-family: "ArcherPro-Book", serif;
    color: #000000;
    font-size: 1rem;
}

.product_meta {
    display: none;
}

.shop_container {
    min-height: 80vh;
    margin-top: 160px;
    margin-bottom: 60px;
}

.woocommerce-product-gallery__image>a>img {
    width: 100%;
    height: auto;
}

.summary.entry-summary>form.cart>.single_add_to_cart_button button alt {
    font-family: "ArcherPro-Book", serif !important;
    color: #ec4c2e;
    font-size: 1rem;
    border-radius: 0;
}

.woocommerce button.button.alt {
    text-transform: uppercase;
}

.woocommerce button.button.alt:hover {
    background-color: #ec4c2e;
    color: #fff;
}

.product_price_name {
    display: flex;
    justify-content: space-between;
}

.product_price_name .price {
    padding: .5em 0;
}

.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #ec4c2e;
    text-transform: uppercase;
    border-radius: 0;
    color: #ec4c2e;
    font-family: "ArcherPro-Book", serif !important;
    font-size: 1rem;
}

.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:hover {
    background-color: #ec4c2e;
    color: #ffffff;
}

.woocommerce form.checkout .form-row input.input-text {
    border-radius: 5px;
}

.woocommerce form.checkout .form-row {
    flex-direction: column;
}

.checkout-container {
    min-height: 80vh;
    margin-top: 160px;
    margin-bottom: 60px;
}


/* ----------- general ----------------*/

.general_container {
    min-height: 80vh;
    margin-top: 160px;
    margin-bottom: 60px;
}

.general_content>p,
.general_content>ol>li,
.general_content>ul>li {
    font-family: "ArcherPro-Book", serif;
    color: #000000;
    font-size: 1rem !important;
}

.general_content>p>a,
.general_content>ol>li>a,
.general_content>ul>li>a {
    font-family: "ArcherPro-Book", serif;
    color: #ec4c2e;
    text-decoration: underline;
    font-size: 1rem !important;
}

.general_content>h2 {
    font-family: "ArcherPro-Bold", serif;
    color: #000000;
    font-size: 1.3rem !important;
    margin-top: 35px;
}

.general_content>h1 {
    font-family: "ArcherPro-Bold", serif;
    color: #000000;
    font-size: 1.3rem !important;
    margin-bottom: 35px;
    text-align: center;
}


/* ----------- shipping ----------------*/

.ship_container {
    min-height: 80vh;
    margin-top: 160px;
    margin-bottom: 60px;
}

.shipping_title {
    font-family: "ArcherPro-Bold", serif;
    color: #000000;
    font-size: 1.3rem !important;
    margin-bottom: 35px;
    text-align: center;
}

.sub_title {
    font-family: "ArcherPro-Bold", serif;
    color: #000000;
    font-size: 1.3rem !important;
    text-align: left;
}

.shipping_content {
    font-family: "ArcherPro-Book", serif;
    color: #000000;
    font-size: 1rem;
}

.shipping_img>img {
    width: 100%;
    height: auto;
}

.care_img>img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}


/* ----------- footer ----------------*/

.footer_mark {
    text-align: center;
    font-family: "ArcherPro-Medium", serif;
    color: #000000;
    font-size: 0.7rem;
    margin: 17px 0 50px 0;
}

#mc_embed_signup_scroll {
    display: flex;
    justify-content: center;
}

#mc_embed_signup input.email {
    margin: 10px 0 !important;
    width: auto !important;
    border-radius: 0 !important;
    font-family: "ArcherPro-Medium", serif !important;
    color: #000000 !important;
    font-size: 0.7rem !important;
    border: 2px solid #ec4c2e;
}

#mc_embed_signup input.button {
    margin: 10px 0 !important;
    border-radius: 0 !important;
    background-color: #ec4c2e;
    border: 2px solid #ec4c2e;
    line-height: 1rem;
    font-family: "ArcherPro-Medium", serif !important;
    color: #ffffff !important;
    font-size: 1rem !important;
    padding: 0 10px;
    width: fit-content !important;
}

#mc_embed_signup input.button:hover {
    background-color: #ec4c2e;
    border: 2px solid #ec4c2e;
}

#mc_embed_signup form {
    padding: 10px 0 !important;
}


/*xs*/

@media only screen and (max-width: 576px) {
    #menu-footer-menu {
        flex-direction: column;
        text-align: center;
    }
    #menu-footer-menu .menu_utilits {
        justify-content: center;
    }
    #menu-footer-menu .menu_utilits .icon {
        margin: 0 5px;
    }
    #menu-menu-1 {
        position: absolute;
        top: 100%;
        /* left: -100%; */
    }
    .navbar-collapse.collapse.show #menu-menu-1 {
        left: 0;
    }
    .wp-block-image {
        margin-bottom: 40px;
    }
    .about_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .general_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .home-container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .ship_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .contact_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .woocommerce-cart-form,
    .cart-collaterals {
        margin: 30px 20px;
    }
    .woocommerce .cart-collaterals,
    .woocommerce-page .cart-collaterals {
        width: auto;
    }
    .page_title {
        text-align: center;
    }
    .page_content {
        text-align: center;
    }
    .woocommerce-page table.cart .product-thumbnail {
        display: block;
    }
    .woocommerce-page table.cart .product-thumbnail::before {
        display: none;
    }
    .woocommerce-cart table.cart img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
    .actions>button.button {
        display: none !important;
    }
    .woocommerce .product-remove>a.remove {
        margin-left: auto;
    }
    .woocommerce table.shop_table_responsive tr:nth-child(2n) td,
    .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
        background: transparent;
    }
    .cart_totals>h2 {
        margin-top: 80px;
        text-align: center;
    }
    .woocommerce a.button.alt {
        margin: auto;
    }
    .shipping_img>img {
        margin: 20px auto 40px auto;
    }
    .shop_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    #menu-menu-1 {
        background-color: #ec4c2e;
        text-align: center;
        padding: 20px 0;
    }
    #menu-item-18>a,
    #menu-item-25>a,
    #menu-item-19>a,
    #menu-item-28>a {
        color: #ffffff;
    }
    #menu-item-18.current-menu-item>a,
    #menu-item-25.current-menu-item>a,
    #menu-item-19.current-menu-item>a,
    #menu-item-28.current-menu-item>a {
        color: #ffffff;
        text-decoration: underline;
    }
}


/*sm*/

@media screen and (min-width: 576px) and (max-width: 768px) {
    #menu-footer-menu {
        flex-direction: column;
        text-align: center;
    }
    #menu-footer-menu .menu_utilits {
        justify-content: center;
    }
    #menu-footer-menu .menu_utilits .icon {
        margin: 0 5px;
    }
    #menu-menu-1 {
        position: absolute;
        top: 100%;
        /* left: -100%; */
    }
    .navbar-collapse.collapse.show #menu-menu-1 {
        left: 0;
    }
    .wp-block-image {
        margin-bottom: 50px;
    }
    .about_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .general_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .home-container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .ship_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .shop_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .contact_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .woocommerce-cart-form,
    .cart-collaterals {
        margin: 30px 60px;
    }
    .woocommerce .cart-collaterals,
    .woocommerce-page .cart-collaterals {
        width: auto;
    }
    .page_title {
        text-align: center;
    }
    .page_content {
        text-align: center;
    }
    .outline_button>a {
        padding: 5px 30px;
    }
    .woocommerce-page table.cart .product-thumbnail {
        display: block;
    }
    .woocommerce-page table.cart .product-thumbnail::before {
        display: none;
    }
    .woocommerce-cart table.cart img {
        display: block;
        margin: 0 auto;
        width: 70%;
        height: auto;
    }
    .actions>button.button {
        display: none !important;
    }
    .woocommerce .product-remove>a.remove {
        margin-left: auto;
    }
    .woocommerce table.shop_table_responsive tr:nth-child(2n) td,
    .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
        background: transparent;
    }
    .cart_totals>h2 {
        margin-top: 80px;
        text-align: center;
    }
    .woocommerce a.button.alt {
        margin: auto;
    }
    .shipping_img>img {
        margin: 20px auto 40px auto;
    }
    #menu-menu-1 {
        background-color: #ec4c2e;
        text-align: center;
        padding: 20px 0;
    }
    #menu-item-18>a,
    #menu-item-25>a,
    #menu-item-19>a,
    #menu-item-28>a {
        color: #ffffff;
    }
    .menu-item.current-menu-item>a {
        color: #ffffff;
        text-decoration: underline;
    }
}


/*md*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    .outline_button>a {
        padding: 5px 40px;
    }
    #menu-menu-1 {
        background-color: #ffffff;
    }
}


/*lg*/

@media screen and (min-width: 992px) {
    #menu-menu-1 {
        background-color: #ffffff;
    }
}